.client-image {
	padding: 15px;
}

.intro {
	margin-bottom: 20px;
}

.intro-text {
	margin-bottom: 0px;
}

.intro-email {
	font-style: italic;
}

p {

  font-size: 1.15rem;
  color:#7e7e7e;
}

.overlay-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .15s ease;
}

.overlay-image:hover {
  opacity: 1
}