/* 
Author: Michelle D'Souza 
Date of last commit: 03/03/20
*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Lucida Grande", Arial, Sans-Serif;
	background: #c4e3f5;
}


a{
	text-decoration: none;
	outline: none;
}

a img{
	border: none;
}

h2{
	font-family: Georgia, Serif;
	font-size: 36px;
	text-align: center;
	font-weight: normal;
}

i{
	font-family: Georgia, Serif;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
}

#page-wrap{
	background: white;
	width: 960px;
	margin: 0 auto;
	padding: 50px 0;
}

/* For phones and smaller devices*/
@media screen and (max-width: 412px) {
	#slider{
		background: white;
		height: 70%;
		overflow: hidden;
		position: relative;
		margin: 50px 0;
	}
	#mover{
		width: 50%;
		position: relative;
	}
	.slide{
		padding: 0px 30px;
		width: 250px;
		float: left;
		position: relative;
	}
	.slide h1{
		width: 70%;
		font-family: Helvetica, Sans-Serif;
		font-size: 30px;
		letter-spacing: -1px;
		color: #006dac;
	}
	.slide p{
		color: #999;
		font-size: 12px;
		line-height: 22px;
		width: 70%;
		text-align: justify;
		text-justify: inter-word;
	}
	.slide img{
		width: 70%;
	}
	#slider-stopper{
		position: absolute;
		top: 1px;
		right: 20px;
		background: #006dac;
		color: white;
		padding: 3px 8px;
		font-size: 10px;
		text-transform: uppercase;
		z-index: 1000;
	}
}
/* For larger devices*/
@media screen and (min-width: 413px) {
	#slider{
		background: white;
		height: 397px;
		overflow: hidden;
		position: relative;
		margin: 50px 0;
	}
	#mover{
		width: 2880px;
		position: relative;
	}
	.slide{
		padding: 0px 30px;
		width: 900px;
		float: left;
		position: relative;
	}
	.slide h1{
		font-family: Helvetica, Sans-Serif;
		font-size: 30px;
		letter-spacing: -1px;
		color: #006dac;
	}
	.slide p{
		color: #999;
		font-size: 12px;
		line-height: 22px;
		width: 300px;
	}
	.slide img{
		position: absolute;
		top: 20px;
		left: 349px;
	}
	#slider-stopper{
		position: absolute;
		top: 1px;
		right: 20px;
		background: #006dac;
		color: white;
		padding: 3px 8px;
		font-size: 10px;
		text-transform: uppercase;
		z-index: 1000;
	}
}
