.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  max-width: 80rem;
  margin: 0vh auto 10vh auto;
  padding: 0 5vw 0 5vw;
}
