.modDefaultSlider .sequence .bg {
  background-attachment: fixed;
  z-index: -2;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: -1;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 80rem;
  margin: 10vh auto 10vh auto;
  padding: 0 5vh 0 5vh;
}

.section .modSectionHeader h2::after {
  width: 100%;
}

.section p {
  font-size: 1.4rem;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  padding: 0 5vw 0 5vw;
  height: fit-content;
  background-color: #f9f9f9;
}

.card {
  flex: 25rem;

  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  height: 35rem;
  padding: 2.5rem;
  margin: 1.5rem;
  background-color: #ffffff;
}

.card > p {
  max-width: 30rem;
  text-align: center;
}

.card > .fas {
  margin: 3rem 0 1rem 0;
}

.center {
  width: 50%;
  margin: 0 auto;
}
