.year-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding: 3rem 0 1rem 0;
}

.year-selector .small.button.secondary {
  font-size: 0.8rem;
}

.cover {
  object-fit: cover;
  object-position: 20% 10%;
}

.officers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 80rem;
  margin: auto;
}

.officer {
  position: relative;
  overflow: hidden;
}

.officer-img {
  width: 100%;
}

.officer img {
  width:250;
  height:250px;
  object-fit:cover;
}

.officer img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.officer img.fun {
  position:absolute;

  top: 0;
  left: 0;
  width: 100%;

  opacity: 0;
  transition: .15s ease;

  width:250x;
  height:250px;
  object-fit:cover;
}

.officer img.fun:hover{
  opacity: 1;
}

.officer-desc {
  margin: 20px 0 40px 0;
}

.intro {
  margin-bottom: 20px;
}

.intro-text {
  margin-bottom: 0px;
}

.intro-email {
  font-style: italic;
}
