.cover {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  
  height: 50vh;

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50%;
}

.title-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding: 10vh 5vw 10vh 5vw;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 80rem;
  margin: 1vh auto 1vh auto;
  padding: 0 5vw 0 5vw;
}

.section .modSectionHeader h2::after {
  width: 100%;
}

.section:first-of-type {
  margin-top: 6vh;
}

.section:last-of-type {
  margin-bottom: 6vh;
}
