---
layout: default
title: Events
section_id: career-services
---


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Events" tagline="open to the community" color="#000" class="big" %}
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Upcoming Events" %}
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.data.upcomingevents %}
      {% if forloop.index > 8 %}
        {% break %}
      {% endif %}
      <div class='small-4 medium-3 large-3 columns'>
        <div class='mod modBlogPost'>
          <a href="{{post.link}}" target="_blank"><img alt="" src="{{post.coverphoto}}" /></a>
          <div class='content'>
            <p class='date'>{{post.date}}</p>
            <h4><a href="https://www.facebook.com/events/{{post.link}}/" target="_blank">{{post.name}}</a></h4>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Past Events" %}
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.data.pastevents %}
      {% if forloop.index > 8 %}
        {% break %}
      {% endif %}
      <div class='small-4 medium-3 large-3 columns'>
        <div class='mod modBlogPost'>
          <a href="{{post.link}}" target="_blank"><img alt="" src="{{post.coverphoto}}" /></a>
          <div class='content'>
            <p class='date'>{{post.date}}</p>
            <h4><a href="https://www.facebook.com/events/{{post.link}}/" target="_blank">{{post.name}}</a></h4>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <p class='centered-text'>
      <a class='button' target="_blank" href='https://www.facebook.com/ucbupe/events/'>See more events</a>
    </p>
  </div>
</div>
<div class='two spacing'></div>