---
layout: default
section_id: home

custom_css: home.css
---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in site.data.home.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in site.data.home.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="overlay"></div>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="section">
  {% include section-header.html title="UPE Nu Chapter" %}
  <p>We are the Nu Chapter of Upsilon Pi Epsilon, the international honor society for the Computing Sciences backed by both IEEE and ACM. Since our founding in 1967, UPE has sought to recognize academic excellence in the Computing and Information Disciplines. Our chapter, at UC Berkeley, prides itself on providing each of our inductees with the resources and network to maximize their individual potential. Beyond the recognition and support of our members, we additionally provide academic and professional development support to the entire Berkeley computer science community. Our chapter has been recognized as an "Outstanding Chapter" by the UPE National Council.</p>
</div>
<div class="cards">
  {% for card in site.data.home.cards %}
    <div class="card">
      <i class="fas fa-{{ card.icon }} fa-7x"></i>
      <h2>{{ card.title }}</h2>
      <p>{{ card.content }}</p>
    </div>
  {% endfor %}
</div>
