---
layout: default
section_id: home
slides:
  - bg: /images/group/retreatsp19-copy.jpg
    small_title:
      klass: bottom-to-top
      text: UC Berkeley's
    title:
      klass: bottom-to-top
      text: Computer Science Honor Society
    buttons:
      klass: bottom-to-top
      items:
        - text: About Us
          link_to: /upe
  - bg: /images/group/alumnifa18.jpg
    small_title:
      klass: bottom-to-top
      text: Hosting events that bring together the
    title:
      klass: bottom-to-top
      text: Berkeley CS Community
    buttons:
      klass: bottom-to-top
      items:
        - text: Future Events
          link_to: /events
  - bg: /images/group/jack-office.jpg
    small_title:
      klass: bottom-to-top
      text: Office Hours, Mock Interviews, Resume Critique
    title:
      klass: bottom-to-top
      text: Professional Development Services
    buttons:
      klass: bottom-to-top
      items:
        - text: Student Services
          link_to: /officehours
  - bg: /images/group/trivia-1.jpg
    small_title:
      klass: bottom-to-top
      text: Bridging the gap between
    title:
      klass: bottom-to-top
      text: Recruiters and Students
    buttons:
      klass: bottom-to-top
      items:
        - text: About Our Infosessions
          link_to: /indrel
---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="spacing"></div>


<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="UPE - Nu Chapter" %}
      <div class="spacing"></div>
      <p>
        Upsilon Pi Epsilon is the international honor society for the Computing Sciences with the goal of recognizing academic excellence in the Computing and Information Disciplines. UPE provides academic and professional development support to the UC Berkeley community as well as providing its members with a community to help them achieve their true potential. 
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>
