---
layout: default
title: interview
section_id: student-services
---


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Mock Technical Interviews" tagline="PRACTICE AN INTERVIEW" color="#000" class="big" %}
    </div>
  </div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Whiteboard Interviews" %}
      <div class='spacing'></div>

      <p> Each whiteboard interview <b>lasts one hour at the UPE Office at 346 Soda Hall</b>. Interview are hosted by one of our Professional Development committee members. These interviews are primarily whiteboard coding interviews, but we can accomodate others by request such as google doc interviews. Phone interviews, however, have to be scheduled differently. We also provide post-interview critique on how to do better the next time around. </p>

      <p> 
        The breakdown for the interview time will be as follows: 

        <ol>
          <li> The first ten minutes will be a berkeley-time buffer. </li>
          <li> The first five minutes will be an overview of your academic and professional background so our interviewer can find a problem taylored to your liking </li>

          <li> The next five minutes will be focused on talking about your experience. It will be a typical "tell me about yourself" question. </li>

          <li> The next thirty-five minutes you will be solving a technical interview question </li>

          <li> The last five minutes will be dedicated to questions and interview feedback for the interviewee. </li>
        </ol>
      </p>
    </div>
      
    <div class='large-12 columns'>
       <div class='two spacing'></div>
      {% include section-header.html title="Phone Interviews" %}
      <div class='spacing'></div>

      <p>Each phone interview <b>lasts one hour and will be conducted remotely. </b>. When you sign up for one, you will receive a hangouts link with a phone-number in a confirmation email associated with the appointment. This link is what you should dial into or call into when you wish to start the interview. After this, the interviewer will send over a code-collab link or google doc link in order to start the interview process. 

      After this, the interview will proceed as stated above. 
    </p>

    </div>


    <div class='buttons-wrapper'>

          <div class='row'>
            <div class='large-12 columns large-centered text-center'>
              <div class='two spacing'></div>
              <div class='two spacing'></div>
                <a class='button large' href='/schedule'> Schedule Now!  </a>
                <div class='two spacing'></div>
              <div class='two spacing'></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
