---
layout: default
title: Officers
section_id: about
---

<div class='full parallax' style='background-image: url(/images/OfficerBoard.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Officer Board" color="#fff" tagline="Spring 2019" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    {% for member in site.data.officers %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt=""
              src="{{ member.avatar }}"
              onmouseover="this.src='{{ member.hoveravatar }}';"
              onmouseout="this.src='{{ member.avatar }}';" />
          </div>
          <div class = "officer-desc">
            <div class='intro'>
                <h3 class='intro-text'>{{member.name}}</h3>
                <p class='intro-text'>{{member.desc}}</p>
                <p class='intro-text'>{{member.email}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
