---
layout: default
title: Office Hours
section_id: student-services
---


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Office Hours" tagline="Professional Development and Academic Services" color="#000" class="big" %}
    </div>
    <div class='spacing'> </div>
    <p> <b> A limited set of office Hours will start next week: January 30th! We will service Resume Critiques and Whiteboard Interviews by Appointment Only! Full office hours will start on February 11th with peer advising and phone interviews as well! </b> </p>

  </div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='spacing'></div>
      {% include section-header.html title="Mock Interviews" %}
      <div class='spacing'></div>

      <p>During our professional hours, UPE offers free mock technical interviews to the general public. Each interview lasts 30 minutes and is hosted by one of our Professional Development committee members. Interiews are primarily whiteboard coding interviews, but we can accomodate others by request. We also provide post-interview critique on how to do better the next time around. </p>

      <p> <b> Walk-in hours are every day from 1-2pm. </b> Otherwise, mock interviews are available by appointment only! To sign up, please visit us <a href="/interview">here</a></p>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Resume Critique" %}
      <div class='spacing'></div>
      <p>In addition to mock interviews, during our professional hours, we also provide free resume critique to the general public. We request a paper copy of your resume to make critiquing easier. One of our Professional Development committee members will provide personalized advice and critique based on their experiences. Each session can last between 15-30 minutes depending on current availability.</p>
      <p>These are available via walk in. <b> Walk-in hours are every day from 1-2pm. </b>. Please check the schedule  <a href="/interview"> here  </a> for professional hours. </p>
    </div>
  </div>
  <div class='spacing'></div>
</div>
