---
layout: default
title: Schedule Appointment
section_id: student-services
---

<a id="Top"></a>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Schedule an Appointment" tagline="Professional Development Services" color="#000" class="big" %}
      <div class='spacing'></div>
      <p> <b>
      😷 PLEASE NOTE: Due to the COVID-19 situation, office hours have been moved online. Please click the hangouts link on the calendar invite when you wish to attend your office hours. Phone Interviews, Peer Advising, and Resume Critiques will still be conducted. 
      
      <div align="center">
      <br>
      🐳 Sign up for a spot <a href="#Calendar-Section">here!</a>
      <br>
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      <br>
      🐳 Read more about our Resume Critiques <a href="#Resume-Section">here!</a>
      <br>
      🐳 Read more about our Whiteboard in-person Interviews <a href="#whiteboard-interviews">here!</a>
      <br>
      🐳 Read more about our Phone Interviews <a href="#phone-interviews">here!</a>
      <br>
      🐳 Read more about our Peer Advising <a href="#Peer-advising">here!</a>
      <br>
    </b>
  </div>


  </p>
    </div>
  </div>
</div>


<a id="Resume-Section"></a>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Resume Critiques" tagline="IMPROVE YOUR RESUME" color="#000" class="big" %}
      <div class='spacing'></div>

      <p>Each resume critique <b> lasts 30 minutes at the UPE Office at 346 Soda Hall</b>. Resume Critiques are hosted by one of our Professional Development committee members. We prefer a printed copy but are willing to accommodate electronic copies if provided. </p>
      <br>
      <div align="center"><b>🐳 Sign up for a spot <a href="#Calendar-Section">here!</a></b></div>
    </div>
  </div>
</div>



<a id="whiteboard-interviews"></a>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Whiteboard Interviews" tagline="IMPROVE YOUR INTERVIEWING SKILLS" class="big" %}
      <div class='spacing'></div>
      <p> Each whiteboard interview <b>lasts one hour at the UPE Office at 346 Soda Hall</b>. Interview are hosted by one of our Professional Development committee members. These interviews are primarily whiteboard coding interviews, but we can accomodate others by request such as google doc interviews. Phone interviews, however, have to be scheduled differently. We also provide post-interview critique on how to do better the next time around. </p>

      <p> 
        The breakdown for the interview time will be as follows: 

        <ol>
          <li> The first ten minutes will be a berkeley-time buffer. </li>
          <li> The first five minutes will be an overview of your academic and professional background so our interviewer can find a problem taylored to your liking </li>

          <li> The next five minutes will be focused on talking about your experience. It will be a typical "tell me about yourself" question. </li>

          <li> The next thirty-five minutes you will be solving a technical interview question </li>

          <li> The last five minutes will be dedicated to questions and interview feedback for the interviewee. </li>
        </ol>
      </p>
      <br>
      <div align="center"><b>🐳 Sign up for a spot <a href="#Calendar-Section">here!</a></b></div>
    </div>
  </div>
</div>


<a id="phone-interviews"></a>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Phone Interviews" tagline="ACE THOSE PHONE INTERVIEWS!" class="big"%}
      <div class='spacing'></div>
      <p> Each whiteboard interview <b>lasts one hour at the UPE Office at 346 Soda Hall</b>. Interview are hosted by one of our Professional Development committee members. These interviews are primarily whiteboard coding interviews, but we can accomodate others by request such as google doc interviews. Phone interviews, however, have to be scheduled differently. We also provide post-interview critique on how to do better the next time around. </p>

      <p>Each phone interview <b>lasts one hour and will be conducted remotely. </b>. When you sign up for one, you will receive a hangouts link with a phone-number in a confirmation email associated with the appointment. This link is what you should dial into or call into when you wish to start the interview. After this, the interviewer will send over a code-collab link or google doc link in order to start the interview process. 

      After this, the interview will proceed as stated above.
      </p> 

      <br>
      <div align="center"><b>🐳 Sign up for a spot <a href="#Calendar-Section">here!</a></b></div>
    </div>
  </div>
</div>



<a id="Peer-advising"></a>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Professional Peer Advising" tagline="COME TALK TO US!" color="#000" class="big" %}
      <div class='spacing'></div>

      <p> We offer peer advising sessions for with UPE members every semester. Peer advising sessions give CS students the opportunity to talk with UPE members about their professional life, including internship experineces, research experience, or academic experiences.</p>
      <br>
      <div align="center"><b>🐳 Sign up for a spot <a href="#Calendar-Section">here!</a></b></div>
    </div>
  </div>
</div>


<a id="Calendar-Section"></a>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
            <div class='spacing'></div>
            {% include section-header.html title="Calendar" tagline="BOOK AN APPOINTMENT!" class="big" %}
        <div class='spacing'></div>

          <p> <b> In addition to choosing a calender slot below, please fill in <a href="http://bit.ly/UPE-interview"> this </a> link to specify the type of interview/general help that you would like. If you do not fill in this form prior to the session you signed up for, we will assume you want a whiteboard mock interiew at 346 Soda Hall. </b> </p>

          <p> <b> Video Walkthrough on How to Book an Appointment: </b> <a href="https://youtu.be/L-LtMZS_JlM"> here. </a> </p>

          <div class='spacing'></div>

            <p><b>Make sure that you are signed into your Google account! You will only be able to see and book appointments if you are signed in. <br /> Click <a href="https://google.com" target = "_blank">here</a>, sign in, refresh this tab.</b></p>

            <!-- Please add back this section when corona virus sadness ends ~ -->
         <!-- <p><b>Alternatively, we have drop-in office hours Monday through Friday, from 1 pm to 2 pm. You do not need to book an appointment for these drop-in slots.</b></p> -->

            <p><b>NOTE: ALL APPOINTMENTS START AT BERKELEY TIME.</b></p>

            <p> <b>
             😷 PLEASE NOTE: Due to the COVID-19 situation, office hours have been moved online. Please click the hangouts link on the calendar invite when you wish to attend your office hours. Phone Interviews, Peer Advising, and Resume Critiques will still be conducted. 
          </b>
          <div class='spacing'></div>
          
        </p>

        <div class='spacing'></div>
        
        <iframe src="https://calendar.google.com/calendar/selfsched?sstoken=UUtsZFZFbG5tVGgwfGRlZmF1bHR8YmU3OTljODZhZWUzMGQxNTU5NjQ2NDhhOWE0N2ZhNDk" style="border-width:0" scrolling="no" width=100% height="800"></iframe>
    </div>
    <a href="#Top">Back to top</a>
    
  </div>
  <div class='row'>
    <div class='large-12 columns'>
  <div class='spacing'></div>
</div>
</div>






