---
layout: default
title: Schedule Appointment
section_id: student-services
---


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Schedule an Appointment" tagline="Professional Development Services" color="#000" class="big" %}

      <p> <b>
      PLEASE NOTE: Due to the COVID-19 situation, office hours have been moved online. Please click the hangouts link on the calendar invite when you wish to attend your office hours. Phone Interviews, Peer Advising, and Resume Critiques will still be conducted. 
    </b></p>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
            <div class='spacing'></div>
            {% include section-header.html title="Calendar" %}
        <div class='spacing'></div>

        	<p> <b> In addition to choosing a calender slot below, please fill in <a href="http://bit.ly/UPE-interview"> this </a> link to specify the type of interview/general help that you would like. If you do not fill in this form prior to the session you signed up for, we will assume you want a whiteboard mock interiew at 346 Soda Hall. </b> </p>

          <p> <b> Video Walkthrough on How to Book an Appointment: </b> <a href="https://youtu.be/L-LtMZS_JlM"> here. </a> </p>

        	<div class='spacing'></div>

            <p><b>Make sure that you are signed into your Google account! You will only be able to see and book appointments if you are signed in. <br /> Click <a href="https://google.com" target = "_blank">here</a>, sign in, refresh this tab.</b></p>

            <p><b>Alternatively, we have drop-in office hours Monday through Friday, from 1 pm to 2 pm. You do not need to book an appointment for these drop-in slots.</b></p>

            <p><b>NOTE: ALL APPOINTMENTS START AT BERKELEY TIME.</b></p>

            <p> <b>
            PLEASE NOTE: Due to the COVID-19 situation, office hours have been moved online. Please click the hangouts link on the calendar invite when you wish to attend your office hours. Phone Interviews, Peer Advising, and Resume Critiques will still be conducted. 
          </b></p>

        <div class='spacing'></div>
        
        <iframe src="https://calendar.google.com/calendar/selfsched?sstoken=UUtsZFZFbG5tVGgwfGRlZmF1bHR8YmU3OTljODZhZWUzMGQxNTU5NjQ2NDhhOWE0N2ZhNDk" style="border-width:0" scrolling="no" width=100% height="800"></iframe>
    </div>
    
  </div>
  <div class='row'>
    <div class='large-12 columns'>
  <div class='spacing'></div>
</div>
</div>
