---
layout: default
title: Office Hours
section_id: student-services
---


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Schedule an Appointment" tagline="Professional Development Services" color="#000" class="big" %}
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
            <div class='spacing'></div>
            {% include section-header.html title="Calendar" %}
        <div class='spacing'></div>

        	<p> <b> In addition to choosing a calender slot below, please fill in <a href="http://bit.ly/UPE-interview"> this </a> link to specify the type of interview/general help that you would like. If you do not fill in this form prior to the session you signed up for, we will assume you want a whiteboard mock interiew at 346 Soda Hall. </b> </p>

          <p> <b> Video Walkthrough on How to Book an Appointment: </b> <a href="https://youtu.be/L-LtMZS_JlM"> here. </a> </p>

        	<div class='spacing'></div>

            <p><b>Make sure that you are signed into your Google account! You will only be able to see and book appointments if you are signed in. <br /> Click <a href="https://google.com" target = "_blank">here</a>, sign in, refresh this tab.</b></p>

        <div class='spacing'></div>
        
        <iframe src="https://calendar.google.com/calendar/selfsched?sstoken=UUtsZFZFbG5tVGgwfGRlZmF1bHR8YmU3OTljODZhZWUzMGQxNTU5NjQ2NDhhOWE0N2ZhNDk" style="border-width:0" scrolling="no" width=100% height="800"></iframe>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='spacing'></div>
      {% include section-header.html title="Our Services" %}
      <div class='spacing'></div>
      <p>During our professional hours, UPE offers free mock technical interviews to the general public. Each interview lasts 30 minutes and is hosted by one of our Professional Development committee members. Interiews are primarily whiteboard coding interviews, but we can accomodate others by request. We also provide post-interview critique on how to do better the next time around. </p>
      <p>Walk-in hours are every day from 1-2pm. Otherwise, mock interviews are available by appointment only! To sign up, please visit us <a href="/interview">here</a></p>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Resume Critique" %}
      <div class='spacing'></div>
      <p>In addition to mock interviews, during our professional hours, we also provide free resume critique to the general public. We request a paper copy of your resume to make critiquing easier. One of our Professional Development committee members will provide personalized advice and critique based on their experiences. Each session can last between 15-30 minutes depending on current availability.</p>
      <p>These are available via walk in. Please check the schedule for professional hours. </p>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Academic Tutoring" %}
      <div class='spacing'></div>
      <p>During our academic hours, we provide tutoring help primarily for the lower division Computer Science classes. While we do also provide tutoring hours during our professional hours, resources will first be alloted to those that come in for professional assistance.</p>
      <p>Unfortunately, we do not provide debugging help on projects. We primarily focus on answering conceptual questions on course material, but all questions are welcome.</p>
    </div>
  </div>
  <div class='spacing'></div>
</div>
