---
layout: default
section_id: about
slides:
  - bg: /images/@stock/slide-1.jpg
    small_title:
      klass: bottom-to-top
      text: The perfect theme for
    title:
      klass: bottom-to-top
      text: Many purposes
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: http://themeforest.net/user/honryou/portfolio?ref=honryou
  - bg: /images/@stock/slide-4.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: We make websites that are
    title:
      klass: bottom-to-top
      text: Creative &amp; Powerful
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: View Features
          link_to: http://themeforest.net/user/honryou/portfolio?ref=honryou
        - text: Purchase Now
          link_to: http://themeforest.net/user/honryou/portfolio?ref=honryou
  - bg: /images/@stock/slide-5.jpg
    small_title:
      klass: bottom-to-top
      text: This is a creative theme that you'll
    title:
      klass: bottom-to-top
      text: definitely love...
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: http://themeforest.net/user/honryou/portfolio?ref=honryou



works:
  - image: /images/@stock/work-1.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: /images/@stock/work-2.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: /images/@stock/work-3.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: /images/@stock/work-4.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: /images/@stock/work-5.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: /images/@stock/work-6.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: /images/@stock/work-7.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: /images/@stock/work-8.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development


services:
  - icon: trophy
    title: Web Design
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: cogs
    title: Web Development
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: pagelines
    title: Branding
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: lock
    title: Security
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.

milestones:
  - icon: folder-open
    from: 0
    to: 69
    title: Projects Completed
  - icon: coffee
    from: 0
    to: 726
    title: Cups of coffee offered
  - icon: thumbs-up
    from: 0
    to: 59
    title: Happy clients
  - icon: file-text
    from: 0
    to: 21
    title: Articles Published

---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="About UPE" %}
      <div class='spacing'></div>
      <p>
        Upsilon Pi Epsilon is the first and only international honor society for the Computing Sciences. The UC Berkeley chapter, launched in 1995, honors the top tier of Computer Science students on campus.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="/images/@stock/responsive.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

