---
layout: default
title: UPE
section_id: about
slides:
  - bg: /images/sp19.jpg
  - bg: /images/@stock/slide-4.jpg
  - bg: /images/@stock/slide-5.jpg
    

services:
  - icon: graduation-cap
    title: Academic Support Professional Resources
    desc: UPE engages students with <a href = "/officehours">tutoring</a>, <a href = "">mock interviews</a>, <a href = "/officehours">resume critiques</a>, and more, making us renowned for our service to the university community. We not only reach out to computer science students and faculty, but also the EECS, math, and other engineering majors. We work with the department and other organizations to host events such as the Data Scholars workshop.

  - icon: cogs
    title: Industry events
    desc: We partner with the EECS department and work closely with major corporations, organizing events ranging from brief one-hour info-sessions about companies and recruiting opportunities to full-scale day-long sessions to showcase their research and product development. Our resumé books make it easier for companies to target the top Berkeley CS students. Companies interested in working with us can visit us <a href = "/indrel">here</a>.

  - icon: group

    title: Community, Fun, and Network
    desc: UPE has a wide alumni base and an active network of information and support. We have alumni in companies such as Facebook, Google, Amazon, Microsoft Research, Two Sigma, Goldman Sachs, Workday, Lyft, and virtually every other company you can think of! UPE also holds several fun socials for our members, alumni, and candidates throughout the semester, as well as a semesterly retreat, for members and alumni to bond and have fun! We partner with other organizations to host fun events for the CS community as well!

---
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="About UPE" tagline="Nu Chapter of California" color="#000" class="big" %}
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='spacing'></div>
      <p>
        Upsilon Pi Epsilon is the first and only international honor society for the computing and information disciplines and is endorsed by ACM and IEEE. UPE aims to recognize academic excellence and promote academic and professional growth of its members. The UC Berkeley chapter, launched in 1995, honors the top tier of Computer Science students on campus. For more information about the national chapter, visit <a href = "http://upe.acm.org/">here</a>.

      </p>
      <p>
        Each semester, we extend membership to the top third of declared CS majors as provided by the CS department. Candidates will join one of our committees and contribute to the Berkeley CS community. Initiates are UPE members for life.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <br><br><br><br>









      <!-- <div class='mod modDefaultSlider'>
        <div class='sequence' data-autostop='on' data-timeout='0'>
          <a class='sequence-prev' href='javascript:void(0);'>
            <span></span>
          </a>
          <a class='sequence-next' href='javascript:void(0);'>
            <span></span>
          </a>
          <ul class='sequence-pagination'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign class = 'current' %}
              {% else %}
                {% assign class = '' %}
              {% endif %}
              <li class="{{class}}"></li>
            {% endfor %}
          </ul>
          <ul class='sequence-canvas'>
            {% for slide in page.slides %}
              {% if forloop.first %}
                {% assign style = 'static' %}
              {% else %}
                {% assign style = '' %}
              {% endif %}

              <li class='frame {{style}} {{ slide.klass }}'>
                <div class='bg' style='background-image: url({{ slide.bg}});'></div>

                
              
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
 -->





      <img class="fadeinleft" alt="" src="/images/initfa18.JPG" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 200 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

