---
layout: default
title: Industrial Relations
section_id: indrel

custom_css:
  - indrel.css
  - shared.css
---

<div class="title-section">
  {% include section-header.html title="Industrial Relations" tagline="Connecting Students to Industry" color="#000" class="big" %}
</div>

<div class="section fadein">
  {% include section-header.html title="Our Partners" %}
  <div class="mod modClients" data-slides_to_show="4">
    <div class="clients">
      {% for client in site.data.indrel.clients %}
        <div class="client-image">
          <a href="{{client.link_to}}" target="_blank">
            <img alt="" src="{{client.image}}" />
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section fadein">
  {% include section-header.html title="Resume Book" %}
  <p>The Berkeley UPE Resume Book contains resumes of our members, who are in the top third of the declared computer science student community at UC Berkeley. Our resume book is updated every semester and includes resumes from our alumni, graduate students, and undergraduate students (mostly seniors and juniors). Currently, we offer it in the form of a downloadable PDF at the cost of $200.</p>
  <p>If you have any questions or would like to purchase the resume book, please email <i>ir (at) upe.berkeley.edu</i> with "UPE Resume Book Purchase" as the subject line.</p>
</div>

<div class="section fadein">
  {% include section-header.html title="Sponsorship" %}
  <p>Ask us about sponsorship opportunities! In addition to providing recruiting opportunities, we keep our members updated with your company's events and technologies via our biweekly newsletters and social media groups.</p>
</div>

<div class="section fadein">
  {% include section-header.html title="Recruitment Events" %}
  <p>We help host events at UC Berkeley for both companies in the
    <a href="https://eecs.berkeley.edu/industry/recruit-students" target="_blank">EECS Corporate Access Program
      (CAP)</a>
    and those that are not.</p>
  {% for question in site.data.indrel.faq %}
    <div class="fadein mod modIconText" data-delay='{{ 100 | times:forloop.index0 }}'>
      <h3>{{question.title}}</h3>
      <p>{{question.answer}}</p>
    </div>
  {% endfor %}
</div>