---
layout: default
title: Career Services
section_id: career-services
cover-pic: /images/profdev/OH-lakshya-andrew.jpg

custom_css: shared.css
---

<a id="Top"></a>
<div class="cover" style="background-image: url({{page.cover-pic}})">
	{% include section-header.html title="Professional Services" tagline="Résumé Reviews, Mock Interviews, Career Mentorship, Academic Advising" color="#fff" class="big" %}
	
  <div class='buttons-wrapper {{ slide.buttons.klass }}'>
    <div class='row'>
      <div class='large-12 columns'>
        <div class='two spacing'></div>
        <a class='button bottom-top-top' onClick="document.getElementById('calendar').scrollIntoView();">Sign Up Now</a>
        <a class='button bottom-top-top' href="/profdev/oh-holders">Professional Mentors</a>
      </div>
    </div>
  </div>
</div>

<div>
  <div class = "section">
  <p><b>PLEASE NOTE: Please do NOT sign up for more than 1 office hour slot per week.</b></p>
  </div>

  <div class="section">
    {% include section-header.html title="About" %} 
    
    <p>Navigating your career as a CS student can be tough. Having a friend who's been through it all can help tremendously. UPE offers all of the following as free services to the Berkeley student community. </p>

    <p>All Professional Services appointments are at most 50 minutes and start on Berkeley Time. </p>

    <p>Our Professional Development committee members provide advising in a number of areas. Read about your Professional Mentor <a href="/profdev/oh-holders/">here</a>.</p>
  </div>

  <div class="section">
    {% include section-header.html title="Appointment Types" %}
    <ol>
      <li>Résumé Reviews - A personalized critique of your résumé.</li>
      <li>Mock Interviews - Technical questions and coding problems followed by feedback.</li>
      <li>Career Mentorship - Ask questions and learn from our experience in teaching, research, and internships.</li>
      <li>Academic Advising - Ask course-content related questions and create a plan for Berkeley CS.</li>
    </ol>
  </div>

  <div class= "section">
    {% include section-header.html title="Feedback" %}
    <p>After your appointment, please fill out our feedback form <a href="/profdev/oh-feedback">here</a></p>
  </div>

  <div class="section" id="calendar">
    {% include section-header.html title="Sign Up" %}
    <p><b>Office hour signups begin next week for the Spring 2022 semester!</b></p>

    <!-- <p>Choose an appointment slot on the calendar below. <b>Please fill in the form linked in the description of the appointment slot.</b></p> -->

    <!-- <p>If you cannot see the calendar below, click <a href="https://calendar.google.com/calendar/selfsched?sstoken=UUtsZFZFbG5tVGgwfGRlZmF1bHR8YmU3OTljODZhZWUzMGQxNTU5NjQ2NDhhOWE0N2ZhNDk">here</a> to access.</p>  -->
    <!-- Please add back this section when corona virus sadness ends ~ -->
    <!-- <p><b>Alternatively, we have drop-in office hours Monday through Friday, from 1 pm to 2 pm. You do not need to book an appointment for these drop-in slots.</b></p> -->
    <!-- <iframe height="800" scrolling="no" src="https://calendar.google.com/calendar/selfsched?sstoken=UUtsZFZFbG5tVGgwfGRlZmF1bHR8YmU3OTljODZhZWUzMGQxNTU5NjQ2NDhhOWE0N2ZhNDk" style="border-width:0" width="100%"></iframe> -->
    <a href="#Top">Back to top</a>

   
  </div>


  <div class="section">
    {% include section-header.html title="Reviews" %}
    <p>Have you used UPE's services before? Would you like to leave a public review? Do so here!</p>
  </div>

  <div style="text-align:center; width:100%;">
    <div class="powr-reviews" id="790f4091_1598144937"></div>
    <script src="https://www.powr.io/powr.js?platform=html"></script>
  </div>


</div>