<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="/images/whale.ico"/>
  <link rel="icon" type="image/x-icon" href="/images/whale.ico"/>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

  <link rel="stylesheet" href="{{ "/css/shared/normalize.css" }}">
  <link rel="stylesheet" href="{{ "/css/shared/foundation.css" }}">
  <link rel="stylesheet" href="{{ "/css/shared/style.css" }}">
  <link rel="stylesheet" href="{{ "/css/shared/fontello.css" }}">
  <link rel="stylesheet" href="{{ "/css/shared/font-awesome.css" }}">
  <script src="{{ "/javascripts/libs.js" }}" type="text/javascript"></script>
  <script>
    // terrificjs bootstrap
    (function($) {
        $(document).ready(function() {
            var $page = $('body');
            var config = {
              dependencyPath: {
                plugin: 'javascripts/'
              }
            }
            var application = new Tc.Application($page, config);
            application.registerModules();
            application.start();
        });
    })(Tc.$);
  </script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen" rel="stylesheet" type="text/css" />
  <script src="{{ "/javascripts/masonry.pkgd.js" }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/imagesloaded.pkgd.min.js" }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/slick.min.js" }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/json2.js" }}" type="text/javascript"></script>
  {% if page.custom_css %}
	{% for stylesheet in page.custom_css %}
	<link rel="stylesheet" href="/css/{{ stylesheet }}" media="screen" type="text/css">
	{% endfor %}
  {% endif %}

  {% if page.custom_js %}
	{% for js_file in page.custom_js %}
	<script src='/javascripts/{{ js_file }}' type="text/javascript"></script>
	{% endfor %}
  {% endif %}
</head>
