<div class='full parallax'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Whom we have worked with" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in site.data.clients %}
            <div class='client-image'>
              <a href="{{client.link_to}}" target="_blank">
                <img alt="" src="{{client.image}}" />
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>