<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include messenger.html %}
  {% include header.html %}

  <div id="main" role="main">
    {% assign current-semester = site.data.people[page.current-semester] %}
    {% assign previous-semester = site.data.people[page.previous-semester] %}
    {% assign next-semester = site.data.people[page.next-semester] %}

    <div class='cover' style="background-image: url({{current-semester.cover-pic}})">
      {% include section-header.html title="Officer Board" color="#fff" tagline=current-semester.name class="big" %}
    </div>

    <div class="year-selector">
      <ul class="button-group round">
        <li><a href="{{previous-semester.path}}" class="small button secondary">&laquo; {{previous-semester.name}}</a>
        </li>
        {% if next-semester %}
          <li><a href="/about/officers" class="small button secondary">Current</a></li>
          <li><a href="{{next-semester.path}}" class="small button secondary">{{next-semester.name}} &raquo;</a></li>
        {% endif %}
      </ul>
    </div>

    <div class='officers'>
      {% for member in current-semester.members %}
      <div class='small-6 medium-3 large-3 columns'>
        {% include person.html person=member%}
      </div>
      {% endfor %}
    </div>

  </div>

  {% include footer.html %}
</body>

</html>
