<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include messenger.html %}

    {% include header.html %}

    <div id="main" role="main">

      <div class='cover' style="background-image: url({{page.officer-board-pic}})">
        {% include section-header.html title="Officer Board" color="#fff" tagline=page.current-semester-name class="big" %}
      </div>

      <div class="year-selector">
        <ul class="button-group round">
          <li><a href="{{page.previous-semester-path}}" class="small button secondary">&laquo; {{page.previous-semester-name}}</a></li>
          <li><a href="/about/officers" class="small button secondary">Current</a></li>
          <li><a href="{{page.next-semester-path}}" class="small button secondary">{{page.next-semester-name}} &raquo;</a></li>

        </ul>
      </div>
        
      <div class='officers'>
        {% for member in site.data[page.current-semester-data] %}
          <div class='small-6 medium-3 large-3 columns'>
            <div class="officer">
              <img alt="" src="{{member.avatar}}"/>
              <img alt="" class="fun" src="{{member.hoveravatar}}"/>
              <div class = "officer-desc">
                <div class='intro'>
                  <h3 class='intro-text'>{{member.name}}</h3>
                  <p class='intro-text'>{{member.desc}}</p>
                  <p class='intro-text intro-email'>{{member.email}}</p>
                  <ul class='socials'>
                    {% for social in member.socials %}
                      <li>
                        <a href='{{social.link}}'>
                          <i class='fa fa-{{social.icon}}'></i>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
    </div>

    {% include footer.html %}
  </body>
</html>


