<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include messenger.html %}
  {% include header.html %}
  <div id="main" role="main">

    <div class="title-section">
      {% include section-header.html title="Office Hour Holders" tagline="We Are Here To Help! " color="#000" class="big" %}
    </div>
    <div class="section">
      <p>Welcome to our office hour bio page! Feel free to sift through our office hour holders for information on how their professional interests can best benefit you!</p>
      <p><b>Note: </b>All Office Hour Holders have taken CS 61A, CS 61B, CS 61C, and CS 70 and are able to give generic CS coding interviews.</p>
    </div>

    <div class="officers">
      {% for member in site.data.people.oh-holders %}
      <div class="small-6 medium-3 large-3 columns">
        {% include person.html person=member%}
      </div>
      {% endfor %}
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
